<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
    <%- include('./partials/common.ejs') %>
  </head>
  <body class="bg-black">
    <%- include('./partials/navbar.ejs') %>
    <h1>Index page</h1>
  </body>
</html>
